$yellow: #eff542;
$red: #f01411;
$green: #19b80b;
$white: #FFFFFF;

@mixin margAndColor ($top, $bottom, $color){
	margin-top: $top;
	margin-bottom: $bottom;
	color: $color;
}

.footer{
	@include margAndColor (25px, 25px, $white);
}

.footerText{
	color: $white;
}